/* Hier können die Spaltenbreiten jeder einzelnen Spalte geändert werden */
:root {
  --table-title-width: 200px;
  --table-doi-width: 160px;
  --table-year-width: 40px;

  --table-modeling-width: 80px;
  --table-extraction-width: 80px;
  --table-verification-width: 80px;
  --table-monitoring-width: 80px;
  --table-audit-width: 80px;
  --table-reporting-width: 80px;
  --table-explanation-width: 80px;
  --table-recovery-width: 80px;
  --table-resolution-width: 80px;

  --table-regdocuments-width: 200px;
  --table-puretextreq-width: 200px;
  --table-internalpolicies-width: 200px;
  --table-bpmodels-width: 200px;
  --table-bpdescription-width: 200px;
  --table-eventlogs-width: 200px;
  --table-formalizedconstraints-width: 200px;
  --table-semiformalizedconstraints-width: 200px;
  --table-others-width: 200px;

  --table-natureofdata-width: 60px;
  --table-timestamp-width: 100px;

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  --entry-color-1: #f9f9f9; /* light cyan */
  --entry-color-2: #bafcff; /* white */

}

body {
  margin: 0;
}

.navbar_container {
  background-color: cyan;
  text-align: center;
  padding: 20px;
   h1 {
    margin: 0;
   }
}

.home_content_container {
  margin: 0 20% 0 20%;
}

.paper_details {
  margin: 0 20% 0 20%;
}

.button_container {
  display: flex;
  justify-content: right;
  margin: 20px;
  gap: 20px;
}

.insert_data {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: 3px solid cyan;
  background-color: white;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease all;
  width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
}
.insert_data:hover {
  background-color: cyan;
  color: white;
}

.delete_data {
  padding: 1rem 2rem;
  font-size: 1rem;
  align-items: center;
  border: 3px solid red;
  background-color: white;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease all;
  width: 150px;
  height: 60px;
}
.delete_data:hover {
  background-color: red;
  color: white;
}

.table-scroll-container {
  overflow-x: auto;
  max-width: 100%;
  border: 1px solid #ccc;
  margin: 0 10px 0 10px;

  p, a {
    font-size: 12px;
  }
}

.paper-entry {
  background-color: rgb(208, 223, 248);
  display: flex;
}

/* Die Papers Tabelle */
.papers {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.header_1 {
  display: flex;
  flex-direction: column;

  .header_fill_space {
    flex: 0 0 68.5%;
  }

  .header_1_content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header_title {
    margin-right: 6px;
    width: var(--table-title-width);
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header_doi {
    margin-right: 6px;
    width: var(--table-doi-width);
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
  .header_year {
    margin-right: 6px;
    width: var(--table-year-width);
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
}

.header_2 {
  display: flex;
  flex-direction: column;

  .header_2_category {
    display: flex;
    flex-direction: row;
  }
}

.header_bpctask {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  margin-bottom: 3px;
  background-color: cornflowerblue;
}

.header_category_top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  margin-bottom: 3px;
  background-color: cornflowerblue;
}

.header_2_category_bottom {
  display: flex;
  flex-direction: row;
  div {
    background-color: gainsboro;
    margin-right: 6px;
  }

  .header_modeling {
    width: var(--table-modeling-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_extraction {
    width: var(--table-extraction-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_verification {
    width: var(--table-verification-width);    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_monitoring {
    width: var(--table-monitoring-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_audit {
    width: var(--table-audit-width);    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_reporting {
    width: var(--table-reporting-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_explanation {
    width: var(--table-explanation-width);    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_recovery {
    width: var(--table-recovery-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_resolution {
    width: var(--table-resolution-width);    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.header_3 {
  display: flex;
  flex-direction: column;

  .header_fill_space {
    flex: 0 0 34%;
  }

  .header_typeofdata {
    margin-right: 6px;
    margin-bottom: 3px;
    background-color: cornflowerblue;
  }

  .header_3_category {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex: 1; /* ensures it stretches to fill available space */
    height: 38.15px;
    
    div {
      background-color: pink;
      margin-right: 6px;
      display: flex;
      height: 100%;
      align-items: center;   /* makes the <p> align bottom inside each div */
      justify-content: center; /* centers horizontally */
    }
  }
}

.header_typeofdata {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 67%;
}

.header_regdocuments {
    width: var(--table-regdocuments-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_puretextreq {
    width: var(--table-puretextreq-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_internalpolicies {
    width: var(--table-internalpolicies-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_bpmodels {
    width: var(--table-bpmodels-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_bpdescription {
    width: var(--table-bpdescription-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_eventlogs {
    width: var(--table-eventlogs-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_formalizedconstraints {
    width: var(--table-formalizedconstraints-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_semiformalizedconstraints {
    width: var(--table-semiformalizedconstraints-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_other {
    width: var(--table-others-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}


.header_4 {
  display: flex;
  flex-direction: column;

  .header_fill_space {
    flex: 0 0 68%;
  }

  .header_4_natureofdata {
    margin-right: 6px;
    width: var(--table-natureofdata-width);
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
    text-align: center;
  }
}

.header_5 {
  display: flex;
  flex-direction: column;

  .header_fill_space {
    flex: 0 0 68%;
  }

  .header_addedon {
    margin-right: 6px;
    width: var(--table-timestamp-width);
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 33%;
    text-align: center;
  }
}

.paper_entry_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

.paper_entry {
  display: flex;
  flex-direction: row;
  text-align: center;
  
  div {
    margin-right: 6px;
  }

  .entry_title {
    width: var(--table-title-width);
    flex-shrink: 0;
  }

  .entry_doi {
    width: var(--table-doi-width);
    flex-shrink: 0;
  }

  .entry_year {
    width: var(--table-year-width);
    flex-shrink: 0;
  }

  .entry_elicitation_modeling {
    width: var(--table-modeling-width);
    flex-shrink: 0;
  }

  .entry_elicitation_extraction {
    width: var(--table-extraction-width);
    flex-shrink: 0;
  }

  .entry_checking_verification {
    width: var(--table-verification-width);
    flex-shrink: 0;
  }

  .entry_checking_enforcementmonitoring {
    width: var(--table-monitoring-width);
    flex-shrink: 0;
  }

  .entry_checking_audit {
    width: var(--table-audit-width);
    flex-shrink: 0;
  }

  .entry_analysis_reporting {
    width: var(--table-reporting-width);
    flex-shrink: 0;
  }

  .entry_analysis_explanation {
    width: var(--table-explanation-width);
    flex-shrink: 0;
  }

  .entry_enhancement_recovery {
    width: var(--table-recovery-width);
    flex-shrink: 0;
  }

  .entry_enhancement_resolution {
    width: var(--table-resolution-width);
    flex-shrink: 0;
  }

  .entry_other_tasks {
    width: var(--table-others-width);
    flex-shrink: 0;
  }

  .entry_data_regdocuments {
    width: var(--table-regdocuments-width);
    flex-shrink: 0;
    text-align: left;
    p {
      margin: 6px;
    }
  }

  .entry_data_puretextreq {
    width: var(--table-puretextreq-width);
    flex-shrink: 0;
    text-align: left;
    p {
      margin: 6px;
    }
  }

  .entry_data_internalpolicies {
    width: var(--table-internalpolicies-width);
    flex-shrink: 0;
    text-align: left;
    p {
      margin: 6px;
    }
  }

  .entry_data_bpmodels {
    width: var(--table-bpmodels-width);
    flex-shrink: 0;
    text-align: left;
    p {
      margin: 6px;
    }
  }

  .entry_data_bpdescription {
    width: var(--table-bpdescription-width);
    flex-shrink: 0;
    text-align: left;
    p {
      margin: 6px;
    }
  }

  .entry_data_eventlogs {
    width: var(--table-eventlogs-width);
    flex-shrink: 0;
    text-align: left;
    p {
      margin: 6px;
    }
  }

  .entry_data_formalizedconstraints {
    width: var(--table-formalizedconstraints-width);
    flex-shrink: 0;
    text-align: left;
    p {
      margin: 6px;
    }
  }

  .entry_data_semiformalizedconstraints {
    width: var(--table-semiformalizedconstraints-width);
    flex-shrink: 0;
    text-align: left;
    p {
      margin: 6px;
    }
  }

  .entry_data_others {
    width: var(--table-others-width);
    flex-shrink: 0;
    text-align: left;
    p {
      margin: 6px;
    }
  }

  .entry_faq_natureofdata {
    width: var(--table-natureofdata-width);
    flex-shrink: 0;
  }

  .entry_createdat {
    width: var(--table-timestamp-width);
    flex-shrink: 0;
  }
}

.paper_entry > div:nth-child(odd) {
  background-color: var(--entry-color-1);
}

.paper_entry > div:nth-child(even) {
  background-color: var(--entry-color-2);
}

.paper_entry:hover > div {
  background-color: lightblue;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.entry_delete {
  width: 50px;     
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: crimson;
  color: white;
  cursor: pointer;
  margin-right: 6px;
  border-radius: 8px;
  font-size: small;
}


.details_buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 10px;
}


.details_header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.details_title {
  color: blue;
  width: 60%;
  text-align: center;
}
.year_and_cits {
  display: flex;
  flex-direction: row;
  width: 40%;
  color: black;
  justify-content: right;
  gap: 10px;
}
.details_blue{
  color: blue;
}
.year_and_cits > div {
  border: 4px solid blue;
  padding: 4px;
  p {
    text-align: center;
    margin: 2px;
  }
}

.details_1 {
  display: flex;
  flex-direction: row;
}
.details_1_abstract {
  display: flex;
  width: 80%;
  margin-right: 20px;
  text-align: justify;
}

.details_1_right {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.details_2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.details_2_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.blue_box {
  background-color: blue;
  color: white;
  padding: 10px 0 10px 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.details_2_1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.details_2_2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.details_2_3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.details_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details_3_headline {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 6px;
  h3 {
    text-align: center;
  }
}

.freies_posing {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
}

.latissimus_von_vorn,
.latissimus_von_hintn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 30px;

  p {
    margin: 10px;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.seitlicher_brustmuskel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;

  p {
    margin: 10px;
  }
}

.details_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details_4_headline {
  display: flex;
  justify-content: center;
}

.details_4_qa_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.details_4_qa {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.details_4_question {
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: row;
  width: 30%;
  padding: 10px;
}
.details_4_answer {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  width: 70%;
  padding: 10px;
}

.filter_search {
  display: flex;
  justify-content: center;
}

.filter_years {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.filter_left_right {
  display: flex;
  justify-content: space-around;
}

.update_bpc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

form {
  hr {
    margin: 20px 0 20px 0;
  }
}

.update_general {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.update_typeofdata {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.update_faq {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}