/* Hier können die Spaltenbreiten jeder einzelnen Spalte geändert werden */
:root {
  --table-title-width: 200px;
  --table-doi-width: 180px;
  --table-year-width: 80px;

  --table-modeling-width: 100px;
  --table-extraction-width: 100px;
  --table-verification-width: 100px;
  --table-monitoring-width: 100px;
  --table-audit-width: 100px;
  --table-reporting-width: 100px;
  --table-explanation-width: 100px;
  --table-recovery-width: 100px;
  --table-resolution-width: 100px;

  --table-regdocuments-width: 100px;
  --table-puretextreq-width: 100px;
  --table-internalpolicies-width: 100px;
  --table-bpmodels-width: 100px;
  --table-bpdescription-width: 100px;
  --table-eventlogs-width: 100px;
  --table-formalizedconstraints-width: 100px;
  --table-semiformalizedconstraints-width: 100px;
  --table-others-width: 100px;

  --table-natureofdata-width: 100px;
  --table-timestamp-width: 200px;

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  --entry-color-1: #f9f9f9; /* light cyan */
  --entry-color-2: #bafcff; /* white */

}

body {
  margin: 0% 20% 0% 20%;
}

.navbar_container {
  background-color: cyan;
  text-align: center;
}

.button_container {
  display: flex;
  justify-content: right;
  margin: 20px;
  gap: 20px;
}

.insert_data {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: 3px solid cyan;
  background-color: white;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease all;
  width: 150px;
  height: 60px;
}
.insert_data:hover {
  background-color: cyan;
  color: white;
}

.delete_data {
  padding: 1rem 2rem;
  font-size: 0.6rem;
  border: 3px solid red;
  background-color: white;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease all;
  width: 150px;
  height: 60px;
}
.delete_data:hover {
  background-color: red;
  color: white;
}

.table-scroll-container {
  overflow-x: auto;
  max-width: 100%;
  border: 1px solid #ccc;
}

.paper-entry {
  background-color: rgb(208, 223, 248);
  display: flex;
}

/* Die Papers Tabelle */
.papers {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  margin-bottom: 5px;
}

.header_1 {
  display: flex;
  background-color: cyan;

  .header_title {
    width: var(--table-title-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_doi {
    width: var(--table-doi-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_year {
    width: var(--table-year-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.header_2 {
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue;

  .header_2_category {
    display: flex;
    flex-direction: row;
  }
}

.header_bpctask {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_category_top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_2_category_bottom {
  display: flex;
  flex-direction: row;

  .header_modeling {
    width: var(--table-modeling-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_extraction {
    width: var(--table-extraction-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_verification {
    width: var(--table-verification-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_monitoring {
    width: var(--table-monitoring-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_audit {
    width: var(--table-audit-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_reporting {
    width: var(--table-reporting-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_explanation {
    width: var(--table-explanation-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_recovery {
    width: var(--table-recovery-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header_resolution {
    width: var(--table-resolution-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.header_3 {
  display: flex;
  flex-direction: column;
  background-color: cyan;

  .header_3_category {
    display: flex;
    flex-direction: row;
  }
}

.header_regdocuments {
    width: var(--table-regdocuments-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_puretextreq {
    width: var(--table-puretextreq-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_internalpolicies {
    width: var(--table-internalpolicies-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_bpmodels {
    width: var(--table-bpmodels-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_bpdescription {
    width: var(--table-bpdescription-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_eventlogs {
    width: var(--table-eventlogs-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_formalizedconstraints {
    width: var(--table-formalizedconstraints-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_semiformalizedconstraints {
    width: var(--table-semiformalizedconstraints-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.header_other {
    width: var(--table-others-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}


.header_4 {
  display: flex;
  background-color: cornflowerblue;

  .header_4_natureofdata {
    width: var(--table-natureofdata-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
  }
}

.header_timestamp {
  display: flex;
  width: var(--table-timestamp-width);
  background-color: cyan;
}

.paper_entry_container {
  display: flex;
  flex-direction: row;
}

.paper_entry {
  display: flex;
  flex-direction: row;
  text-align: center;

  .entry_title {
    width: var(--table-title-width);
    flex-shrink: 0;
  }

  .entry_doi {
    width: var(--table-doi-width);
    flex-shrink: 0;
  }

  .entry_year {
    width: var(--table-year-width);
    flex-shrink: 0;
  }

  .entry_elicitation_modeling {
    width: var(--table-modeling-width);
    flex-shrink: 0;
  }

  .entry_elicitation_extraction {
    width: var(--table-extraction-width);
    flex-shrink: 0;
  }

  .entry_checking_verification {
    width: var(--table-verification-width);
    flex-shrink: 0;
  }

  .entry_checking_enforcementmonitoring {
    width: var(--table-monitoring-width);
    flex-shrink: 0;
  }

  .entry_checking_audit {
    width: var(--table-audit-width);
    flex-shrink: 0;
  }

  .entry_analysis_reporting {
    width: var(--table-reporting-width);
    flex-shrink: 0;
  }

  .entry_analysis_explanation {
    width: var(--table-explanation-width);
    flex-shrink: 0;
  }

  .entry_enhancement_recovery {
    width: var(--table-recovery-width);
    flex-shrink: 0;
  }

  .entry_enhancement_resolution {
    width: var(--table-resolution-width);
    flex-shrink: 0;
  }

  .entry_other_tasks {
    width: var(--table-others-width);
    flex-shrink: 0;
  }

  .entry_data_regdocuments {
    width: var(--table-regdocuments-width);
    flex-shrink: 0;
  }

  .entry_data_puretextreq {
    width: var(--table-puretextreq-width);
    flex-shrink: 0;
  }

  .entry_data_internalpolicies {
    width: var(--table-internalpolicies-width);
    flex-shrink: 0;
  }

  .entry_data_bpmodels {
    width: var(--table-bpmodels-width);
    flex-shrink: 0;
  }

  .entry_data_bpdescription {
    width: var(--table-bpdescription-width);
    flex-shrink: 0;
  }

  .entry_data_eventlogs {
    width: var(--table-eventlogs-width);
    flex-shrink: 0;
  }

  .entry_data_formalizedconstraints {
    width: var(--table-formalizedconstraints-width);
    flex-shrink: 0;
  }

  .entry_data_semiformalizedconstraints {
    width: var(--table-semiformalizedconstraints-width);
    flex-shrink: 0;
  }

  .entry_data_others {
    width: var(--table-others-width);
    flex-shrink: 0;
  }

  .entry_faq_natureofdata {
    width: var(--table-natureofdata-width);
    flex-shrink: 0;
  }

  .entry_createdat {
    width: var(--table-timestamp-width);
    flex-shrink: 0;
  }
}

.paper_entry > div:nth-child(odd) {
  background-color: var(--entry-color-1);
}

.paper_entry > div:nth-child(even) {
  background-color: var(--entry-color-2);
}

.paper_entry:hover > div {
  background-color: lightblue;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details_header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.details_title {
  color: blue;
  width: 60%;
  text-align: center;
}
.year_and_cits {
  display: flex;
  flex-direction: row;
  width: 40%;
  color: black;
  justify-content: space-around;
}
.details_blue{
  color: blue;
}

.details_1 {
  display: flex;
  flex-direction: row;
}
.details_1_abstract {
  display: flex;
  width: 80%;
  margin: 20px;
}

.details_1_right {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.details_2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.details_2_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.details_2_1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.details_2_2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.details_2_3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.details_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details_3_headline {
  display: flex;
  justify-content: center;
}

.freies_posing {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.latissimus_von_vorn,
.latissimus_von_hintn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details_4_headline {
  display: flex;
  justify-content: center;
}

.details_4_qa_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.details_4_qa {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.details_4_question {
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: row;
  width: 30%;
  padding: 10px;
}
.details_4_answer {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  width: 70%;
  padding: 10px;
}

.filter_search {
  display: flex;
  justify-content: center;
}

.filter_years {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.filter_left_right {
  display: flex;
  justify-content: space-around;
}
